*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    padding: 16px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.tools
{
    display: flex;
    gap: 12px;
    padding: 16px;
}
#container{
    border: solid 6px black;
    width: 600px;
    height: 600px;
    border-radius: 8px;
    margin-top: 12px;
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    
}
.cell
{
    border: solid 1px black;
    background-color: white;
    
}